<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graduation Progress | Ultimods</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="js/grad.js"></script>
</head>

<body>
    <div id='app'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="main.html">Ultimods</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="main.html">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="view-module.html">View Modules</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="grad.html">Graduation Progress</a>
                    </li>
                </ul>
                <div id='show-extra-data'>
                    <button v-if='show_extra_data' class='btn btn-outline-success btn-sm' @click='show_extra_data=false'>
                        <i class='fas fa-check'></i>
                        Showing extra data
                    </button>
                    <button v-else class='btn btn-outline-warning btn-sm' @click='show_extra_data=true'>
                        <i class='fas fa-times'></i>
                        Hiding extra data
                    </button>
                </div>
                <div>
                    Welcome back, <span id='profile_name'></span>!
                    <a href='profile.html' class='nav-icon'>
                        <i class='fas fa-cog'></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class='container'>
            <h1>Graduation Progress</h1>
            <table class='table table-sm'>
                <thead>
                    <tr>
                        <th>Fulfilled</th>
                        <th>Requirement</th>
                        <th>You took</th>
                    </tr>
                </thead>
                <tbody id='table_body' v-if='show_extra_data'></tbody>
            </table>
        </div>
    </div>
</body>

</html>