<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Module | Ultimods</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <!-- star rating -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src='js/search.js'></script>

    <script src="https://gojs.net/latest/release/go.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- wordcloud library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>
    <!-- charts library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script src="js/view-module.js"></script>

</head>

<body>
    <div id='app'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="main.html">Ultimods</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="main.html">Schedule</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="view-module.html">View Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="grad.html">Graduation Progress</a>
                    </li>
                </ul>
                <div>
                    Welcome back, {{name}}!
                    <a href='profile.html' class='nav-icon'>
                        <i class='fas fa-cog'></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class='container'>
            <p>Search:</p>
            <input type='text' onkeyup='searchModules()' id='module_search' class='form-control' placeholder="e.g. BT1101, Mining Web Data">
            <div id='search_results' class='search_results'></div>
        </div>
        <div v-if='module_code && module_name == ""' style='text-align: center; margin-top: 48px; opacity: 0.5'>
            <i class='fas fa-spinner fa-pulse fa-lg'></i>
        </div>
        <transition name='fade'>
            <div v-if="module_code && module_name != ''" class='container'>
                <h1>{{module_code}} {{module_name}}</h1>
                <div class='row'>
                    <div class='col-9'>
                        <div id='moduleInfo'>
                            <h2>Module Description</h2>
                            <p>
                                {{module_description}}
                            </p>

                            <h2>Tags</h2>
                            <div style='margin-bottom: 24px;'> 
                                <span v-for="modtag in this.tag_arr" class='badge badge-info' style='font-weight: 400; font-size: 14px; line-height: 18px; margin: 0 5px 5px 0;'>{{modtag}}</span>
                            </div>

                            <h2>Module Prerequisites</h2>
                            <div id="tree">{{module_code}} {{module_name}}</div>
                        </div>
                    </div>
                    <div class='col-3'>
                        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#timetableModal'
                            style='margin: 0 6px 6px 0;'>
                            <i class='fas fa-plus'></i>&nbsp;&nbsp;
                            Add Module to Schedule
                        </button>
                        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#timetableModal'>
                            <i class='fas fa-plus'></i>&nbsp;&nbsp;
                            Add Module &amp; Missing Prereqs to Schedule
                        </button>
                    </div>
                </div>

                <div>
                <h2>Student Reviews</h2>
                <div v-if='module_fb===false && teaching_fb===false'>
                    Nothing to display
                </div>
                <div v-if='module_fb===true' class="row">
                    <div style='width:25%; margin-left: 20px;'>
                    <span class="progbar-heading">I rate this module as </span> <br>
                    <span v-for='star in Math.floor(module_fb_ratingAverage)' class="fa fa-star checked" style='margin-left:3px;'></span>
                    <span v-if='module_fb_ratingRounded-module_fb_ratingAverage>0' class="fa fa-star-half-o checked"></span>
                    <span v-for='star in Math.floor(5-module_fb_ratingRounded)' class="fa fa-star-o checked"></span>
                    <p>{{module_fb_ratingAverage}} average based on {{module_fb_ratingCount}} reviews.</p>
                    <hr style="border:3px solid #f1f1f1;">

                    <div class="progbar-side">
                        <div>5 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="progbar-middle progress">
                        <div class="progress-bar" id="ratingbar5" role="progressbar" v-bind:style="{width:module_fb_arrayPercent[4]+'%'}" style= "background-color: #ff9800;"></div>
                    </div>
                    <div class="progbar-side progbar-right">{{module_fb_array[4]}}</div>
                    <div class="progbar-side">
                        <div>4 <span class="fa fa-star"></span></div>
                        </div>
                    <div class="progbar-middle progress">
                        <div class="progress-bar" id="ratingbar4" role="progressbar" v-bind:style="{width:module_fb_arrayPercent[3]+'%'}" style= "background-color: #ff9800; "></div>
                    </div>
                    <div class="progbar-side progbar-right">{{module_fb_array[3]}}</div>
                    <div class="progbar-side">
                        <div>3 <span class="fa fa-star"></span></div>
                        </div>
                    <div class="progbar-middle progress">
                        <div class="progress-bar" id="ratingbar3" role="progressbar" v-bind:style="{width:module_fb_arrayPercent[2]+'%'}" style= "background-color: #ff9800;"></div>
                    </div>
                    <div class="progbar-side progbar-right">{{module_fb_array[2]}}</div>
                    <div class="progbar-side">
                        <div>2 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="progbar-middle progress">
                        <div class="progress-bar" id="ratingbar2" role="progressbar" v-bind:style="{width:module_fb_arrayPercent[1]+'%'}" style= "background-color: #ff9800; "></div>
                    </div>
                    <div class="progbar-side progbar-right">{{module_fb_array[1]}}</div>
                    <div class="progbar-side">
                        <div>1 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="progbar-middle progress">
                        <div class="progress-bar" id="ratingbar1" role="progressbar" v-bind:style="{width:module_fb_arrayPercent[0]+'%'}" style= "background-color: #ff9800; "></div>
                    </div>
                    <div class="progbar-side progbar-right">{{module_fb_array[0]}}</div>
                    </div> <!-- width 30% -->
                    <div style="width:30%; margin-left:40px;">
                        <span class="progbar-heading">What I like about this module </span>
                        <div id="goodCloud"></div>
                    </div>
                    <div style="width:30%; margin-left:25px;">
                        <span class="progbar-heading">What I do not like about this module </span>
                        <div id="badCloud"></div>
                    </div>
                </div>
                <br><br>
                <div v-if='teaching_fb===true' class='row' style="margin-left: 5px">
                <div style="width:30%;">
                    <span class="progbar-heading">The teacher has enhanced my thinking ability. </span>
                    <div style="margin-top:20px;">
                    <canvas id="tAbility" width="100" height="70"></canvas>
                    </div>
                </div>
                <div style="width:30%; margin-left:0px;">
                    <span class="progbar-heading">The teacher provided timely and useful feedback.</span>
                    <div style="margin-top:20px;">
                    <canvas id="tTimely" width="100" height="70"></canvas>
                    </div>
                </div>
                <div style="width:30%; margin-left:15px;">
                    <span class="progbar-heading">The teacher has increased my interest in the subject.</span>
                    <div style="margin-top:20px;">
                    <canvas id="tInterest" width="100" height="70"></canvas>
                    </div>
                </div>
                </div>
            </div>
        </transition>
        <!-- Modal -->
        <div class="modal fade" id="timetableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add to Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table class='table modules'>
                            <thead>
                                <tr>
                                    <th>Y1S1</th>
                                    <th>Y1S2</th>
                                    <th>Y2S1</th>
                                    <th>Y2S2</th>
                                    <th>Y3S1</th>
                                    <th>Y3S2</th>
                                    <th>Y4S1</th>
                                    <th>Y4S2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class='module'>
                                            BT1101
                                        </div>
                                        <div class='module'>
                                            CS1010S
                                        </div>
                                        <div class='module'>
                                            MKT1003X
                                        </div>
                                    </td>
                                    <td>
                                        <div class='module'>
                                            BT2101
                                        </div>
                                        <div class='module'>
                                            EC1301
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>16 MCs</td>
                                    <td>8 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                </tr>
                                <tr>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss='modal'>Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>
</body>

</html>
