<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Module | Ultimods</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src='js/search.js'></script>

    <script src="https://gojs.net/latest/release/go.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- wordcloud library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>

    <script src="js/view-module.js"></script>

</head>

<body>
    <div id='app'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="main.html">Ultimods</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="main.html">Schedule</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="view-module.html">View Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="grad.html">Graduation Progress</a>
                    </li>
                </ul>
                <div>
                    Welcome back, {{name}}!
                    <a href='profile.html' class='nav-icon'>
                        <i class='fas fa-cog'></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class='container'>
            <p>Search:</p>
            <input type='text' onkeyup='searchModules()' id='module_search' class='form-control' placeholder="e.g. BT1101, Mining Web Data">
            <div id='search_results' class='search_results'></div>
        </div>
        <div v-if="module_code" class='container'>
            <h1>{{module_code}} {{module_name}}</h1>
            <div class='row'>
                <div class='col-9'>
                    <div id='moduleInfo'>
                        <h2>Module Description</h2>
                        <p>
                            {{module_description}}
                        </p>

                        <h2>Tags</h2>
                        <button v-for="modtag in this.tag_arr" type='button' class='btn' style='margin-right: 6px;'>{{modtag}}</button>                
        
                        <h2>Module Prerequisites</h2>

                        <h2>Student Reviews</h2>

                        <div class="progbar">
                          <span class="progbar-heading">I rate this module as </span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o checked"></span>
                          <p>4.1 average based on 254 reviews.</p>
                          <hr style="border:3px solid #f1f1f1">

                          <div class="row">
                            <div class="progbar-side">
                              <div style="margin-left: 20px">5 <span class="fa fa-star"></span></div>
                            </div>
                            <div class="progbar-middle progress">
                                <div class="progress-bar" role="progressbar" style="background-color: #ff9800; width: 25%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progbar-side progbar-right">150</div>

                            <div class="progbar-side">
                              <div style="margin-left: 20px">4 <span class="fa fa-star"></span></div>
                              </div>
                            <div class="progbar-middle progress">
                                <div class="progress-bar" role="progressbar" style= "background-color: #ff9800; width: 45%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progbar-side progbar-right">63</div>

                            <div class="progbar-side">
                              <div style="margin-left: 20px">3 <span class="fa fa-star"></span></div>
                              </div>
                            <div class="progbar-middle progress">
                                <div class="progress-bar" role="progressbar" style="background-color: #ff9800; width: 15%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progbar-side progbar-right">63</div>

                            <div class="progbar-side">
                              <div style="margin-left: 20px">2 <span class="fa fa-star"></span></div>
                            </div>
                            <div class="progbar-middle progress">
                                <div class="progress-bar" role="progressbar" style="background-color: #ff9800; width: 85%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progbar-side progbar-right">63</div>

                            <div class="progbar-side">
                              <div style="margin-left: 20px">1 <span class="fa fa-star"></span></div>
                            </div>
                            <div class="progbar-middle progress">
                                <div class="progress-bar" role="progressbar" style="background-color: #ff9800; width: 45%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progbar-side progbar-right">63</div>
                          </div> <!-- row -->
                        </div> <!-- progbar-->
                        <br><br>
                        <div class='row'>
                          <div>
                            <span class="progbar-heading">What I like about this module </span>
                            <div id="goodCloud"></div>
                          </div>
                          <div>
                            <span class="progbar-heading">What I did not like about this module </span>
                            <div id="badCloud"></div>
                          </div>
                        </div>

                    </div>
                </div>
                <div class='col-3'>
                    <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#timetableModal'
                        style='margin: 0 6px 6px 0'>
                        <i class='fas fa-plus'></i>&nbsp;&nbsp;
                        Add Module to Schedule
                    </button>
                    <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#timetableModal'>
                        <i class='fas fa-plus'></i>&nbsp;&nbsp;
                        Add Module &amp; Missing Prereqs to Schedule
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="timetableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add to Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <table class='table modules'>
                            <thead>
                                <tr>
                                    <th>Y1S1</th>
                                    <th>Y1S2</th>
                                    <th>Y2S1</th>
                                    <th>Y2S2</th>
                                    <th>Y3S1</th>
                                    <th>Y3S2</th>
                                    <th>Y4S1</th>
                                    <th>Y4S2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class='module'>
                                            BT1101
                                        </div>
                                        <div class='module'>
                                            CS1010S
                                        </div>
                                        <div class='module'>
                                            MKT1003X
                                        </div>
                                    </td>
                                    <td>
                                        <div class='module'>
                                            BT2101
                                        </div>
                                        <div class='module'>
                                            EC1301
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>16 MCs</td>
                                    <td>8 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                    <td>0 MCs</td>
                                </tr>
                                <tr>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                    <td><button type='button' class='btn btn-warning'><i class='fas fa-plus'></i>&nbsp;&nbsp;Add</button></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss='modal'>Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>
</body>

</html>
