<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div class='container'>
        <div class="jumbotron" style='margin-top: 48px;'>
            <h1 class="display-4">Welcome to Ultimods!</h1>
            <p class="lead">The Ultimate Solution to Your Module Problems</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="student/index.html" role="button"><i class='fas fa-graduation-cap'></i> &nbsp; View Student Portal</a>
            <a class="btn btn-primary btn-lg" href="faculty/index.html" role="button"><i class='fas fa-chalkboard-teacher'></i> &nbsp; View Faculty Portal</a>
        </div>
        <div style='text-align: center;'>
            <a href='https://github.com/bt3103-alpha/bt3103-app/' class='btn btn-secondary'><i class='fab fa-github'></i> &nbsp; Github Repo</a>
            <a href='help/index.html' class='btn btn-secondary'><i class='fas fa-book'></i> &nbsp; Documentation</a>
        </div>
    </div>
</body>

</html>